

html {
    font-family: 'Epilogue', sans-serif;

}





a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.register {
    border: 1px solid hsl(0, 0%, 41%);
    border-radius: 20px;
    padding: .1px 4rem .1px 4rem;


}

ul {
    list-style: none;
}


header {
    width: 100%;
}
.container {
    width: 100%;

}

nav {
    width: 70%;
    right: 0;
    visibility: hidden;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: white;

}

.nav-list {

    margin-top: 5rem;
    padding-left: 1rem;
    line-height: 2.7rem;
    height: 100vh;
    text-align: left;
    width: 70%;
    line-height: 3.5rem;


}

.log-in-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icons {
    display: block;
    position: absolute;
    right: 1rem;
    top: 2rem;
    cursor: pointer;
    z-index: 1500;
}

.hamburger {
   margin-right: 0;

}

.close {
    visibility: hidden;
    margin-right: 2rem;

}


.sub-menu {

    visibility: hidden;
    position: initial;
    max-height: 0;
}



.snap-logo {
    margin-left: .5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

 .image {
     width: 100%;

 }

.arrow-up {
    visibility: hidden;
    position: relative;
    left: -.9rem;
}

 .content-container {
     margin-top: 5rem;
     /* margin-right: auto;
     margin-left: auto; */
     min-height: 784px;
     max-width: 600px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }



 #features {
     cursor: pointer;
     color:  hsl(0, 0%, 41%);
 }



 .text {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     margin-bottom: 2rem;
     max-width: 390px;
 }

 .button-learn {
     font-weight: 800;
     background-color: black;
     padding: .5rem 1rem;
     border-radius: 10px;
 }

 .button-learn a {
    color: white;
 }

 .bottom-logos img {
     width: 5rem;

 }

 @media all and (min-width: 600px) {
     .hamburger, .close {
         display: none;
     }
     /* .nav-list {
         display: flex;
         justify-content: ;

     }
     .nav-list li {
         visibility: visible;
         display: flex;
         flex-direction: row;
     }
     .sub-menu {
        display: none;
     } */

     .container {
         border: 1px solid blue;
     }

     #burger-menu .nav-list  {
         visibility: visible;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        left: 0;
        border: 1px solid red;
        width: 100%;
     }
 }